<div class="light-controller {{if power "powered" "off"}}">

    <div class="title-wrap">
      <div class="title">
        <h4>{{ember-inline-edit value=lightName onSave=(action "changeName" lightName lightId)}}</h4>
      </div>

    </div>

    <div class="range-wrap">
      {{! hue }}
      <div class="range">
        <label><button {{action "togglePower"}} class="{{if power "powered" "off"}}"></button></label>
        <input type="range" {{action "changeColor" on="change"}} class="range-hue" id={{light}} value={{hue}} min="1" max="65280"/>
      </div>

      {{! saturation }}
      <div class="range range-sat">
        <label>Sat:</label>
        <input type="range" {{action "changeSaturation" on="change"}} class="range-sat" id={{light}} value={{sat}} min="1" max="254"/>
      </div>

      {{! brightness }}
      <div class="range range-bri">
        <label>Bri:</label>
        <input type="range" {{action "changeBrightness" on="change"}} class="range-bri" id={{light}} value={{bri}} min="1" max="254"/>
      </div>
    </div>
</div>
