<div class="group-controller">
  <div class="logo">
  </div>

    {{!-- <div class="title-wrap">
      <div class="title">
        <h4>{{ember-inline-edit value=group.name onSave=(action "changeGroupName" group.name group.id)}}</h4>
      </div>

    </div> --}}
    <button {{action "togglePower"}} class="{{if group.state.any_on "powered" "off"}} group-power"></button>

    <div class="color-temp-wrap">
      <label>Temp:</label>
      <input type="checkbox" />
      {{input type="checkbox" name="color-temp" checked=colorTemp change=(action "toggleColorTemp")}}
    </div>

    <div class="range-wrap">
      {{! hue }}
      <div class="range">
        <label class="label-color">Color:</label>
        <div class="white-bg"></div>
        <div class="group-spectrum-bg {{if colorTemp "color-temp" ""}}"></div>
        <input type="range" {{action "changeColor" on="change"}} class="range-hue {{if colorTemp "color-temp" ""}}" id={{group.id}} value={{group.state.hue}} min={{if colorTemp "154" "1"}} max={{if colorTemp "500" "65280"}}/>
      </div>

      {{! saturation }}
      <div class="range">
        <label class="label-sat">Saturation:</label>
        <input type="range" {{action "changeSaturation" on="change"}} class="range-sat" id={{group.id}} value={{group.state.sat}} min="1" max="254"/>
      </div>

      {{! brightness }}
      <div class="range">
        <label class="label-bri">Brightness:</label>
        <input type="range" {{action "changeBrightness" on="change"}} class="range-bri" id={{group.id}} value={{group.state.bri}} min="1" max="254"/>
      </div>
    </div>
</div>
<div class="shadow"></div>
<div class="drag-handle"></div>
