<div class="group-controller">

    <div class="title-wrap">
      <div class="title">
        <h4>{{ember-inline-edit value=group.name onSave=(action "changeGroupName" group.name group.id)}}</h4>
      </div>

    </div>

    <div class="range-wrap">
      {{! hue }}
      <div class="range">
        <label><button {{action "togglePower"}} class="{{if group.state.on "powered" "off"}}"></button></label>
        <input type="range" {{action "changeColor" on="change"}} class="range-hue" id={{group.id}} value={{group.state.hue}} min="1" max="65280"/>
      </div>

      {{! saturation }}
      <div class="range">
        <label>Sat:</label>
        <input type="range" {{action "changeSaturation" on="change"}} class="range-sat" id={{group.id}} value={{group.state.sat}} min="1" max="254"/>
      </div>

      {{! brightness }}
      <div class="range">
        <label>Bri:</label>
        <input type="range" {{action "changeBrightness" on="change"}} class="range-bri" id={{group.id}} value={{group.state.bri}} min="1" max="254"/>
      </div>
    </div>
</div>
