<div class="group-controller {{if group.state.any_on "powered" "off"}}">

  <div class="logo">
  </div>

    <button {{action "togglePower"}} class="{{if group.state.any_on "powered" "off"}} group-power"></button>

    <div class="color-temp-box-wrap">
      <label for="">Temp:</label>
      {{input type="checkbox" name="color-temp" checked=colorTemp change=(action "toggleColorTemp")}}
    </div>

    <div class="range-wrap">

      <div class="range">
        <label class="label-color">Color:</label>

        {{!-- <div class="">
          <div class="dark-bg"></div>
        </div> --}}

        {{! color temperature }}
        <div class="{{if colorTemp "" "hide"}}">
          <div class="group-brightness-wrap">
            <div class="group-spectrum-bg color-temp"></div>
          </div>
          <input type="range" {{action "changeColor" on="change"}} class="range-hue color-temp" id={{group.id}} value={{group.state.ct}} min="154" max="500"/>
        </div>

        {{! hue }}
        <div class="{{if colorTemp "hide" ""}}">
          <div class="group-brightness-wrap">
            <div class="white-bg"></div>
            <div class="group-spectrum-bg"></div>
          </div>
          <input type="range" {{action "changeColor" on="change"}} class="range-hue" id={{group.id}} value={{group.state.hue}} min="1" max="65280"/>
        </div>
      </div>

      {{! saturation }}
      <div class="range">
        <label class="label-sat">Saturation:</label>
        <div class="group-sat-bg"></div>
        <input type="range" {{action "changeSaturation" on="change"}} class="range-sat" id={{group.id}} value={{group.state.sat}} min="1" max="254"/>
      </div>

      {{! brightness }}
      <div class="range neg-margin">
        <label class="label-bri">Brightness:</label>
        <input type="range" {{action "changeBrightness" on="change"}} class="range-bri" id={{group.id}} value={{group.state.bri}} min="1" max="254"/>
      </div>
    </div>
</div>
<div class="shadow"></div>
<div class="drag-handle"></div>
