<div class="light-controller gen-three-color-light {{if power "powered" "off"}}">
    <div class="overlay"></div>
        <div class="loader"></div>
    <div class="title-wrap">
      <div class="title">
        <h4>{{ember-inline-edit value=lightName onSave=(action "changeName" lightName lightId)}}</h4>
      </div>

    </div>

    <div class="range-wrap">
      {{! hue }}
      <div class="range">
        <label><button {{action "togglePower"}} class="{{if power "powered" "off"}}"></button></label>

        {{! color temp }}
        <div class="{{if colorTemp "" "hide"}}">
          <div class="brightness-wrap {{light}}">
            <div class="individual-white-bg"></div>
            <div class="individual-spectrum-bg {{light}} color-temp"></div>
          </div>
          <input type="range" {{action "changeColor" on="change"}} class="range-hue {{light}} color-temp" id={{light}} value={{ct}} min="154" max="500" />
        </div>

        {{! hue }}
        <div class="{{if colorTemp "hide" ""}}">
          <div class="brightness-wrap {{light}}">
            <div class="individual-white-bg"></div>
            <div class="individual-spectrum-bg {{light}}"></div>
          </div>
          <input type="range" {{action "changeColor" on="change"}} class="range-hue {{light}} hue" id={{light}} value={{hue}} min="1" max="65280" />
        </div>
      </div>

      {{! saturation }}
      <div class="{{if colorTemp "hide" ""}}">
        <div class="range range-sat">
          <label>Sat:</label>
          <input type="range" {{action "changeSaturation" on="change"}} class="range-sat {{light}}" id={{light}} value={{sat}} min="1" max="254"/>
        </div>
      </div>

      {{! brightness }}
      <div class="range range-bri">
        <label>Bri:</label>
        <input type="range" {{action "changeBrightness" on="change"}} class="range-bri {{light}}" id={{light}} value={{bri}} min="1" max="254"/>
      </div>
    </div>
  </div>
