<div class="{{if light.state.on "powered" "off"}}">
{{log light.state.on}}
    <div class="title-wrap">
      <div class="title">
        <h4>{{ember-inline-edit value=light.name onSave=(action "changeName" light.name light.id)}}</h4>
      </div>

    </div>

    <div class="range-wrap">
      {{! hue }}
      <div class="range">
        <button {{action "togglePower"}} class="{{if light.state.on "powered" "off"}}"></button>
        <input type="range" {{action "changeColor" on="change"}} class="range-hue" id={{light.id}} value={{light.state.hue}} min="1" max="65280"/>
      </div>

      {{! saturation }}
      <div class="range">
        <label>Sat:</label>
        <input type="range" {{action "changeSaturation" on="change"}} class="range-sat" id={{light.id}} value={{light.state.sat}} min="1" max="254"/>
      </div>

      {{! brightness }}
      <div class="range">
        <label>Bri:</label>
        <input type="range" {{action "changeBrightness" on="change"}} class="range-bri" id={{light.id}} value={{light.state.bri}} min="1" max="254"/>
      </div>
    </div>
</div>
